body{

    margin: 0;
    padding: 0;
}
#최고야 {
    margin: auto;
    /* border: 1px solid red; */
    overflow: hidden;
    width: fit-content;
}
.btn {
    margin: auto;
    padding: 0px;
    overflow: hidden;
    
}

svg{
    color:#ced4da;
    margin: 25px;
    float: left;
    transition: 0.1s;
}
svg:nth-child(2):active{
    color: rgb(255, 28, 28);
    transform: scale(130%);
    float: left;
}

svg:active{
    color: rgb(255, 106, 60);
    transform: scale(130%);
}

#title-pic-case {
width: 150px;
height: 150px;
border-radius: 50%;
overflow: hidden;
margin: 150px auto 0 auto;
box-shadow: 10px,10px,10px,rgb(174, 46, 46);
}
#title-pic{
    width: 100%;
    /* transform: translate(-15%, 0); */
}
h1 {
    text-align: center;
    font-size: 90px;
    margin: 30px auto 0 auto;
    font-family: 'Lexend', sans-serif;
}
span {
    /* border: 1px solid royalblue; */
margin: -1px;
}

h1 span:nth-child(1) {
    color: #4187f4;
}
h1 span:nth-child(2) {
    color: #eb4132;
}
h1 span:nth-child(3) {
    color: #f1b500;
}
h1 span:nth-child(4) {
    color: #4187f4;
}
h1 span:nth-child(5) {
    color: #32a753;
}
h1 span:nth-child(6) {
    color: #eb4132;
}

.search-bar {
    width: 500px;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .search-bar {

        width: 90%;
        margin: auto;
}
h1 {
    font-size: 50px;
}
#title-pic-case {
margin-top: 50px;}
}